extends layout

block content
  div(class="container-fluid text-center espacio-arriba no-float enfasis bordes")
    img(class="imagen-pequeña bordes",src="/images/fotoparaperfil.JPG", alt="foto de perfil")
    h1(class="") #{title}
    p Welcome to #{title}


